<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= @garden.banner_url %>');">
  <div class="container text-center">
    <h1>
      <%= @garden.name %>
    </h1>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <% @plants.each do |plant| %>
      <div class="col-4" >
        <div class="card-category mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= plant.image_url %>');">
        <%= plant.name %>
        <%= link_to "+", plant_path(plant), method: :delete, data: { confirm: "tem certeza??????"}, class: "card-remove-link" %>
        </div>
        </div>
      <% end %>

    <div class="row my-5 justify-content-center">
      <div class="col-4" >
      <%= simple_form_for [@garden, @plant] do |f| %>
        <%= f.input :name %>
        <%= f.input :image_url %>
        <%= f.submit "Add a plant", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>



    </div>
  </div>
</div>




    <%= link_to 'Edit', edit_garden_path(@garden) %> |
    <%= link_to 'Back', gardens_path %>
    <p id="notice"><%= notice %></p>